<p class="comment-head"><strong><%= comment.commenter %></strong></p>
<p class="comment-body"><span class="score"><%= comment.score %></span> <%= comment.body %></p>

  
  <!--<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>-->