<p><strong><%= comment.commenter %></strong></p>
<p><%= comment.body %></p>
<p><%= comment.user_id %></p>

  
  <!--<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>-->