<table>
    <tr class="comrow">
        <td class="comscore">
            <span class="score"><%= comment.score %></span>
        </td>
        <td class="combody">
            <span class="comment-body"> <%= comment.body %></span>
        </td>
    </tr>
</table>
  
  <!--<p>
  <#%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>-->