<% content_for :header do %>
  About
<% end %>

<h1><span style="color:#DD7500">Ever had an idea </span><small>that just wouldn't go away?</small></h1>
<br/>
<p class="atext">Maybe for a business, invention, event or just a new way of doing things. You're a thinker.</p>
<p class="atext">Invention Hunt is where post up any ideas that strike you, then see how much they interest others and get some feedback.</p>
<p class="atext">Or simply look through what the brightest minds of tomorrow are currently pondering while they wait for the kettle to boil.</p>
