<% content_for :header do %>
  About
<% end %>

<h1><small>There are three responses to a piece of design:</small><span style="color:#DD7500">  yes, no,</span> <small>and</small> <span style="color:#DD7500">WOW!</span></h1>
<h3>-Milton Glaser</h3>
<br/><br/>
<p class="atext">A Landing Page is a small scale website which serves as the world's primary entry point to something new and exciting.</p>
<p class="atext">Due to the removal of every unnecessary element, they are also a beautifully minimalistic art form.</p>
<p class="atext">They are a finely honed intersection of design and behavioural science.</p>
<br/>
<p class="atext">This is a place to post the very best Landing Pages and gather inspiration for your own projects.</p>
<p class="atext"><span style="color:#DD7500">Happy Hunting.</span></p> 


