<% content_for :header do %>
  About
<% end %>

<h1><small>There are three responses to a piece of design:</small><span style="color:#DD7500">  yes, no,</span> <small>and</small> <span style="color:#DD7500">WOW!</span></h1>
<h3>-Milton Glaser</h3>
<br/><br/>
<p class="atext">Page Hunt is a place for the coolest pages on the web - the most underappreciated art form of the 21st Century.</p>
<p class="atext">Awesomely original landing pages, clever code hacks, beautiful design, or just any URL you think will brighten someone's day.</p>

<%= link_to root_path do %>
  <p class="atext"><span style="color:#DD7500">Happy Hunting.</span></p>
<% end %>


