// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.details a {
    color: #DD7500;
    font-size: 14px;
}

.details a:hover {
    color: #DD7500;
    font-size: 14px;
    text-decoration: underline;
}